RewriteEngine on
RewriteRule ^post/powershell+authorizationmanager+check+failed.aspx$ /powershell+authorizationmanager+check+failed.html [R=301,NC]
RewriteRule ^post/waze+where+have+you+been+all+my+commuting+life.aspx$ /waze+where+have+you+been+all+my+commuting+life.html [R=301,NC]
RewriteRule ^post/remember+controller+classes+need+to+be+public.aspx$ /remember+controller+classes+need+to+be+public.html [R=301,NC]
RewriteRule ^post/verificationexception+operation+could+destabilize+the+runtime.aspx$ /verificationexception+operation+could+destabilize+the+runtime.html [R=301,NC]
RewriteRule ^post/vb6+and+net+interop+fun.aspx$ /vb6+and+net+interop+fun.html [R=301,NC]
RewriteRule ^post/principles+vs+methods+in+software+development.aspx$ /principles+vs+methods+in+software+development.html [R=301,NC]
RewriteRule ^post/dasblog+fixing+404s+for+mapped+urls+tinymce+as+the+editor.aspx$ /dasblog+fixing+404s+for+mapped+urls+tinymce+as+the+editor.html [R=301,NC]
RewriteRule ^post/doh+entity+framework+use+properties+for+your+entities.aspx$ /doh+entity+framework+use+properties+for+your+entities.html [R=301,NC]
RewriteRule ^post/a+thank+you+from+caleb+and+the+st+baldricks+foundation.aspx$ /a+thank+you+from+caleb+and+the+st+baldricks+foundation.html [R=301,NC]
RewriteRule ^post/the+fro+must+go.aspx$ /the+fro+must+go.html [R=301,NC]
RewriteRule ^post/new+blog+post+build+to+fit.aspx$ /new+blog+post+build+to+fit.html [R=301,NC]
RewriteRule ^post/new+developer+blog.aspx$ /new+developer+blog.html [R=301,NC]
RewriteRule ^post/serving+and+giving+back.aspx$ /serving+and+giving+back.html [R=301,NC]
RewriteRule ^post/nsosumi+a+c+port+of+a+mobileme+scraper.aspx$ /nsosumi+a+c+port+of+a+mobileme+scraper.html [R=301,NC]
RewriteRule ^post/resolving+tfs+error+tf14087+cannot+undelete+x+because+not+all+of+the+deletion+is+being+undeleted.aspx$ /resolving+tfs+error+tf14087+cannot+undelete+x+because+not+all+of+the+deletion+is+being+undeleted.html [R=301,NC]
RewriteRule ^post/my+love+affair+with+windbg+or+high+cpu+utilization+in+aspnet+and+the+runaway+iterator.aspx$ /my+love+affair+with+windbg+or+high+cpu+utilization+in+aspnet+and+the+runaway+iterator.html [R=301,NC]
RewriteRule ^post/reclaiming+disk+space+from+outlook+ost+files.aspx$ /reclaiming+disk+space+from+outlook+ost+files.html [R=301,NC]
RewriteRule ^post/subversion+error+could+not+read+status+line+connection+was+closed+by+server.aspx$ /subversion+error+could+not+read+status+line+connection+was+closed+by+server.html [R=301,NC]
RewriteRule ^post/hello+world.aspx$ /hello+world.html [R=301,NC]
RewriteRule ^post/projects+ive+worked+on.aspx$ /projects+ive+worked+on.html [R=301,NC]
RewriteRule ^post/about+me.aspx$ /about+me.html [R=301,NC]
